<h1>{{ name }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Metodo:</td>
  <dd> {{ getHeroDescription() }} </dd>

  <td>Nombre capitalizado:</td>
  <dd>{{capitalizedName}}</dd>
</dl>

<button
  *ngIf="showBtnName"
  class="btn btn-primary mx-2"
  (click)="changeHero()">Cambiar nombre
</button>
<button
  *ngIf="showBtnAge"
  class="btn btn-primary mx-2"
  (click)="changeAge()">Cambiar edad
</button>
<button
  *ngIf="!showBtnAge || !showBtnName"
  class="btn btn-primary mx-2"
  (click)="reset()">Reset
</button>
