<h3>Listado de héroes</h3>

<h3 *ngIf="deletedHero; else nothingWasDeleted">Héroe borrado <small class="text-danger">{{deletedHero}}</small></h3>

<ng-template #nothingWasDeleted>
  <h3>No ha borrado nada.</h3>
</ng-template>

<button *ngIf="heroNames.length > 0" class="btn btn-outline-danger" (click)="removeLastHero()">
  Borrar último héroe
</button>



<ul class="mt-2 list-group">
  <li *ngFor="let name of heroNames"
    class="list-group-item"
  >
      {{name}}
  </li>
</ul>
