<h4>Agregar personaje</h4>
<form class="row" (ngSubmit)="emitCharacter()">
  <input
    type="text"
    [(ngModel)]="character.name"
    name="name"
    class="form-control mb-2"
    placeholder="Nombre"
  >
  <input class="form-control mb-2"
    type="number"
    [(ngModel)]="character.power"
    name="power"
    placeholder="Poder"
  >
  <button class="btn btn-primary" type="submit">
    Agregar
  </button>

  <!-- <pre>{{character | json}}</pre> -->
</form>
