<h1>DBZ Main Page</h1>
<hr>

<div class="row">
  <div class="col">

    <dbz-list (onDeleteCharacter)="dbzService.deleteCharacterById($event)" [characterList]="dbzService.characters"></dbz-list>

  </div>
  <div class="col">
    <dbz-add-character (onNewCharacter)="dbzService.addCharacter($event)"></dbz-add-character>
  </div>
</div>
